################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DownloadsOrg
/.idea/.idea.DownloadsOrg/.idea
/DownloadsOrg/.idea/.idea.DownloadsOrg.dir/.idea
